.synonyms-wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  
  .get-synonyms-btn {
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    height: 40px;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .get-synonyms-btn:hover {
    cursor: pointer;
  }
  
  .synonyms-list {
    list-style-type: none;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 15px;
  }
  
  .synonyms-list li {
    border: 1px solid #eee;
    text-align: center;
    flex: 1 0 10%;
    padding: 10px 5px;
    margin: 5px;
  }
  
  .synonyms-list li:hover {
    cursor: pointer;
    background-color: #e6e6e6;
  }
  
  .error {
    color: red;
    position: absolute;
    font-size: 16px;
  }